body {
    font-family: "Times New Roman", serif;
}

table {
    width: 70%;
    margin: 70px auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 6px 10px;
    text-align: left;
}

th {
    background-color: #0b5d82;
    color: white;
}

td {
    background-color: #DAE9F7;
}

h1 {
    text-align: center;
    margin: 0px 0px 30px 0px;
}

h3 {
    margin: 25px 0px 35px 120px;
    font-size: 18px;
}

.ContactBox {
    width: 750px;
    margin: 40px auto;
    background-color: #b9e3bb;
    border-radius: 60px;
    padding: 50px;
}

input {
    margin-left: 60px;
    padding: 10px 120px;
    border-radius: 10px;
    border: 1px solid white;
}

.inputMessage {
    width: 410px;
    height: 120px;
    margin: 0px 0px 0px 38px;
    border-radius: 10px;
    border: 1px solid white;
    resize: none;
    vertical-align: top;
}



button {
    
    margin: 0px 0px 00px 225px;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid white;
    
}